.color {
    color: blue;
}

.margin-top {
    margin-top: 4em;
}

.center {
    text-align: center;
    border: 2px solid grey;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6em auto;
    flex-direction: column;
}

.employer-dashboard {

    padding: 20px 0;
}

.dashboard-section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.dashboard-section a {

    color: #007bff;

    font-weight: bold;
}

.dashboard-section h1 {

    font-size: 2rem;
}

.account-management {

    width: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

.account-management h2 {

    font-size: 1.5rem;
    margin-bottom: 10px;
}

.account-management p {
    /* Style the paragraphs in the Account Management section */
    font-size: 1rem;
    margin-bottom: 0;
}

.text {
    font-size: 2rem;
}

.text:hover {
    color: red;
}

.text-size {
    font-size: 2rem;
}